@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}
@media (max-width: 991px) {
  .real-bottom-single-box {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 5px 8px;
    margin-top: 15px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .consaltation-consal-design {
    margin-top: 30px;
  }
  .reservaton-wraper {
    border-bottom: none;
  }
  .reservaton-left-cntent {
    border-right: none;
  }
}

@media (max-width: 640px) {
  ul.navbar-nav {
    flex-direction: row;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (max-width: 475px) {
  nav.navbar a.navbar-brand {
    font-size: 25px;
  }
  .inheritene-conal-wraper {
    
    grid-template-columns: 1fr 1fr;
    
}
}
